services:
  faster_whisper:
    tags:
      - "quay.io/ktbs/fd-itbs-dms/faster-whisper:latest"
      - "quay.io/ktbs/fd-itbs-dms/faster-whisper:1.0.0"
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
        - linux/arm64
    container_name: faster_whisper
    ports:
      - '9001:50001'
    environment:
      - http_proxy
      - HTTP_PROXY
      - https_proxy
      - HTTPS_PROXY
      - no_proxy
      - NO_PROXY
    volumes:
      - hugging_face_cache:/root/.cache/huggingface

volumes:
  hugging_face_cache:
